#footer::before,
#header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
#logo1 {
  height: 50px;
  width: 322px;
}
#footer,
#header {
  position: relative;
  z-index: 1;
}
#header::before {
  background: url("./assets/background-images/bg1.webp") center/cover no-repeat;
  filter: grayscale(30%) brightness(0.6);
}
#footer::before {
  background-image: linear-gradient(
      90deg,
      rgb(17 36 75 / 94%) 100%,
      rgb(17 36 75) 0,
      rgba(36, 22, 99, 0.11) 0,
      rgb(17 36 75) 100%
    ),
    url("./assets/background-images/bg1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  overflow-x: hidden;
}
.marquee {
  width: 100%;
  overflow: hidden;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: 12s linear infinite scroll-left;
}
.marquee-content:hover {
  animation-play-state: paused;
}
.marquee-content a:hover {
  color: #2563eb;
}
@keyframes scroll-left {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}

